@use '../mixins/responsive.scss' as *;

.article{
    width: 100%;
    height: 100vh;
    background-color: var(--gray-dark);
    position: relative;
    @include responsive (desktop){
        padding-top: 3.9rem;
        background-color: var(--black);
    }

    &__description{
        color: var(--gray-light);
        padding-top: 60px;
        padding-left: 35px;
        @include responsive (desktop){
            padding-top: 100px;
            padding-left: 120px;
            font-size: 1.8rem;
           
        }
    }
    &__title{
        font-size: 1.5rem;
        margin-top: 10px;
        @include responsive (desktop){
            font-size: 3rem;
        }
    }
    &__text{
        width: 280px;
        font-size: 0.9rem;
        @include responsive (desktop){
            top: 150px;
            left: 850px; 
            width: 500px;
            font-size: 1.7rem;
        }
    }
    &__image{
        position: absolute;
        top: 340px;
        left: 80px;
        width: 70%;
        @include responsive (desktop){
           top: 110px;
           left: 850px; 
        }
    }
    &__star-1{
        position: absolute;
        left: 30px;
        @include responsive (desktop){
            width: 8%;
            top: 120px;
            left: 850px; 
         }
    }
    &__star-2{
        position: absolute;
        left: 40px;
        top: 550px;
        rotate: 30deg;
    }
}