@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.article-about{
    background-color: var(--gray-dark);
    background-image: url(../assets/images/rosa.png);
    background-repeat: no-repeat;
    background-position: 140% 170%;
    padding-top: 10%;
    @include responsive (tablet){
        background-size: 90%;
        background-position: -300% 110%;
    }
    @include responsive (desktop){
        padding-top: 7%;
        padding-left: 10%;
        background-size: 60%;
        background-position: -30% -60%;
    }
    &-container{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:center;
        gap: 20px;

    }
}

.article__design{
    text-align: right;
    @include responsive (tablet){
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    @include responsive (desktop){
       text-align: right;
        position: relative;
        left: 45%;
    }
}

.read-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -7%;


    @include responsive (tablet){
        top: -5%;
        right: 0%;
    }

    @include responsive (desktop){
        top: -28%;
        right: 20%;
    }

    &-image{
        width: 30%;
        @include responsive (tablet){
            width: 20%;
        }
        @include responsive (desktop){
            width: 15%;
        }
    }
    &-image:hover{
        @include hover{
            width: 20%;
        }
    }
    &-text{
        margin-bottom: -50px;
    }
}


// .article{
//     position: relative;
//     @include responsive (desktop){
//         display: flex;
//         align-items: start;
//         gap: 80px;
//         padding-left: 3%;
//         padding-top: 10%;
//     }
//     &__front{
//         margin-bottom: -30px;
//         padding-top:8%;
//         @include responsive (desktop){
//             padding-top: 0;
//             padding-left: 100px;
//         }
//     }
//     &__front::after,
//     &__design::after{
//         content: '';
//         position: absolute;
//         width:70%;
//         height: 2px;
//         background-color: var(--title-color);
//     }
//     &__front::after{
//         @include responsive (desktop){
//             width: 30%;
//         }
//     }
//     &__design{
//      text-align: right;
//      display: flex;
//      flex-direction: column;
//      align-items:flex-end;
//      margin-right: 10%;
//      @include responsive (desktop){
//             align-items: flex-start;
//             text-align: left;
//             position: absolute;
//             top:250px;
//             right: 0;
//         }
//     }
//     &__design::after{
//         bottom: 45%;
//         @include responsive (desktop){
//             top: 100%;
//         }
//     }
// }
// .read-more{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     right: 5%;
//     top: 73%;
//     @include responsive (desktop){
//         top: 71%;
//         right: 60%;
//     }

//     &-image{
//         width: 50%;
//         background-color: transparent;
//         @include responsive (desktop){
//             width: 70%;
//         }
//     }
//     &-image:hover{
//         @include hover{

//             width: 100%;
//         }
//     }
//     &-text{
//         margin-bottom: -50px;

//     }
// }