@use '../mixins/responsive.scss' as *;
.article-work{
    scroll-snap-align: center; 
}
.works{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100vw;
    overflow:scroll ; 
    
    
    
    // @include responsive (desktop){
    //     grid-template-columns: none;
    //     grid-template-rows: repeat(6, 1fr);
    //     width: 100%;
    // }

    &__section{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 2rem;
        padding-bottom: 3rem;
        padding-left: 10%;
        @include responsive (tablet){
            font-size: 3rem;
            padding-bottom: 3rem;
            padding-left: 15%;
        }

        // @include responsive (desktop){
        
        //     transform: rotate(0deg);
        //     font-size: 4rem;
        //     padding-bottom: 0rem;
        //     padding-left: 0%;
        //     padding-right: 6%;
        //     background-color: red;
        // }

    }
    &__title{
        font-size: 4rem;
        text-align: right;
        margin-right: 0;
        margin-left: 0;
    }
    &__content{
        writing-mode:horizontal-tb;
        transform: rotate(180deg);
        font-size: 1rem;
        margin: 0;
        min-width:0;
        width: 0;
        padding: 0;
        overflow:hidden;
        transition:min-width .4s, padding .4s;

        // @include responsive (desktop){
        //     transform: rotate(0deg);
        //     font-size: 2rem;
        //     margin: 0;
        //     min-height:0;
        //     height:0;
        //     line-height: 2;
        //     padding: 0;
        //     overflow:hidden;
        //     transition:min-height .4s, padding .4s;
        // }

    }
    &__content--show{
        min-width:200px;
        padding-left: 3rem;
        padding-bottom: 1rem;
        @include responsive (desktop){
            min-width: 500px;
            padding-left: 9rem;
        }
    }

    &__section-1{
        background-color: var(--primary-color);
        color: var(--title-color);
    }
    &__section-2{
        background-color: var(--secondary-color);
        color: var(--gray-dark);
    }
    &__section-3{
        background-color: var(--gray-light);
        color: var(--black);
    }
    &__section-4{
        background-color: var(--gray-dark);
        color: var(--primary-color);
    }
    &__section-5{
        background-color: var(--black);
        color: var(--gray-light);
    }
    &__section-6{
        background-color: var(--title-color);
        color: var(--secondary-color);
    }
   
}