@use '../mixins/responsive.scss' as *;

.article-me{
    background-color: var(--black);
    color: var(--gray-light);
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include responsive (desktop){
        padding-top: 0;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
        
    }
}
.article{
    height: 100vh;
    position: relative;

    &__description{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        @include responsive (tablet){
            font-size: 2rem;
        }
        @include responsive (desktop){
            font-size: 1.5rem;
            width: 40%;
            margin-right: 0;
            margin-left: 0;
        }
    }
    &__title{
        margin-top: 3%;
        font-size: 1.5rem;
        @include responsive (tablet){
            font-size: 2rem;
        }
    }
    &__text{
        @include responsive (tablet){
            width: 650px;
        }
        @include responsive (desktop){
            width: 550px;
        }
    }
    &__image{
        width: 300px;
        position: relative;
        right: -5%;
        @include responsive (tablet){
            width: 470px;
            height: 100%;
            right: -18%;
        }
        @include responsive (desktop){
            width: 500px;
            height: 100%;
            right: 1%;
        }
    }
}
// .article{
//     width: 100%;
//     height: 100vh;
//     background-color: var(--black);
//     position: relative;
//     @include responsive (desktop){
//         padding-top: 3.9rem;
//         background-color: var(--black);
//     }

//     &__description{
//         color: var(--gray-light);
//         padding-top: 60px;
//         padding-left: 35px;
//         @include responsive (desktop){
//             padding-top: 100px;
//             padding-left: 120px;
//             font-size: 1.8rem;
//         }
//     }
//     &__title{
//         font-size: 1.5rem;
//         margin-top: 10px;
//         @include responsive (desktop){
//             font-size: 3rem;
//         }
//     }
//     &__text{
//         width: 280px;
//         font-size: 0.9rem;
//         @include responsive (desktop){
//             top: 150px;
//             left: 850px; 
//             width: 500px;
//             font-size: 1.7rem;
//         }
//     }
//     &__image{
//         position: absolute;
//         top: 300px; 
//         left: 100px;
//         margin-right: 20px;       
//         @include responsive (desktop){
//            top: 130px;
//            left: 850px; 
//         }
//     }
//     &__star-1{
//         position: absolute;
//         left: 30px;
//         @include responsive (desktop){
//             width: 8%;
//             top: 120px;
//             left: 850px; 
//          }
//     }
//     &__star-2{
//         position: absolute;
//         left: 40px;
//         top: 550px;
//         rotate: 30deg;
//     }
// }
